
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

h1 {
    margin-bottom: 30px;
    font-size: 50px;
    color: #333;
}
span {
    color: #DE5C8E;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 50px;
    background-color: #DE5C8E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, letter-spacing 0.3s ease;
}

button:hover {
    background-color: #ff7cae;;
    letter-spacing: 3px;
}

#result {
    margin-top: 20px;
    font-weight: 200;
    font-size: 100px;
    color: #555;
    text-align: center;
    transform: scale(0.8);
}

.bounce-in {
    animation: bounce 0.3s ease;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.8);
    }
}


/*responsive*/
@media (max-width: 900px) {
    h1 {
        font-size: 1.8em;
    }
    button {
        padding: 14px 28px;
        font-size: 1.1em;
    }
    #result {
        font-size: 5em;
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    button {
        padding: 12px 25px;
        font-size: 1em;
    }
    #result {
        font-size: 3em;
    }
}